/** 
 * Site Title and Site Description are only shown when there is no logo.
 */
.site-title
{
	margin-bottom: 0;
}

.site-description
{
	color: $dark-gray;
	margin-bottom: 0;
}


/**
 * Adding styles for header and top-bar
 */
header.header
{
	background-color: $brand-white;
	box-shadow: 0 0 rem-calc(5) rgba(192, 192, 192, 0.5);
	padding: 0;
}

.top-bar
{
	position: relative;

	ul
	{
		padding: 0;
	}
}


/** 
 * Removing default styles from .menu and .menu-text (logo)
 * Adding padding to .menu-text (logo)
 */
.menu
{
	li.menu-text
	{
		padding: 0;

		a
		{
			padding: rem-calc(24) 0;
		}
	}

	.active
	{
		a
		{
			background: transparent;
		}
	}
}


/** 
 * Adding styles for main navigation
 */
.primary-menu
{
	margin-top: rem-calc(24);
}

#main-nav
{
	li
	{
		display: inline-block;
		position: relative;
		vertical-align: middle;

		a
		{
			font-family: "Montserrat", sans-serif;
			font-size: rem-calc(18);
			font-weight: 700;
			line-height: rem-calc(21);
			text-transform: uppercase;
			padding: 0;
			color: $brand-header-color;
			transition: 0.3s all;
			
			&:hover
			{
				color: $brand-primary;
			}
		}

		&.active
		{
			a
			{
				color: $brand-primary;
			}
		}

		&:not(:last-child)
		{
			margin-right: rem-calc(24);
			
			/**
			 * Style for when viewport goes below {large} breakpoint
			 */
			@include breakpoint(large down)
			{
				margin-right: rem-calc(16);
			}
		}
	}
}