/**
* Style for when viewport goes above {xlarge} breakpoint
*/
@media all and #{breakpoint(xlarge)}
{
	.padding-left-for-xlarge
	{
		padding-left: rem-calc(15);
	}

	.padding-right-for-xlarge
	{
		padding-right: rem-calc(15);
	}

	.extra-padding-left-for-xlarge
	{
		padding-left: rem-calc(30);
	}

	.extra-padding-right-for-xlarge
	{
		padding-right: rem-calc(30);
	}

	.extra-big-padding-left-for-xlarge
	{
		padding-left: rem-calc(45);
	}

	.extra-big-padding-right-for-xlarge
	{
		padding-right: rem-calc(45);
	}
}

/**
* Style for when viewport goes below {large} breakpoint
*/
@media all and #{breakpoint(large down)}
{
	div.hide-bg,
	section.hide-bg
	{
		background-image: none !important;
	}
}

/**
* Style for when viewport goes above {large} breakpoint
*/
@media all and #{breakpoint(large)}
{
	.padding-left-for-large
	{
		padding-left: rem-calc(15);
	}

	.padding-right-for-large
	{
		padding-right: rem-calc(15);
	}

	.extra-padding-left-for-large
	{
		padding-left: rem-calc(30);
	}

	.extra-padding-right-for-large
	{
		padding-right: rem-calc(30);
	}

	.extra-big-padding-left-for-large
	{
		padding-left: rem-calc(45);
	}

	.extra-big-padding-right-for-large
	{
		padding-right: rem-calc(45);
	}
}

/**
* Style for when viewport goes below {medium} breakpoint
*/
@media all and #{breakpoint(medium down)}
{
	div.hide-bg.columns
	{
		.vc_column-inner
		{
			background-image: none !important;
		}
	}

	.remove-br br
	{
		display: none;
	}

	.top-bar-left
	{
		text-align: center;

		&.float-left
		{
			float: none!important;
		}

		.menu-text
		{
			display: block;

			a
			{
				display: inline-block;
			}
		}
	}

	.top-bar-right
	{
		width: 100%;

		.float-right
		{
			float: none!important;
			display: block;
			text-align: center;

			>.show-inline
			{
				display: block;
			}
		}

		.primary-menu
		{
			margin-top: rem-calc(0);
			margin-bottom: rem-calc(18);
		}
	}
}